@import "../variables/variables";

html {
    font-size: 15px;
    font-family: Roboto;
    background-color: #c4c4c4;
}

body {
    margin: 0;
    width: 100vw;    
    height: 100vh;
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-rows: auto 700px auto;
    grid-template-areas: ". . ." ". menu ." ". . .";
    font-size: 1rem;
}

*, *::after, *::before { box-sizing: border-box; }

.menu {     
    background-color: $grey;
    color: white;
    
    display: grid;    
    grid-auto-flow: row dense;
    grid-auto-rows: min-content;
    grid-area: menu;
    grid-template-columns: 1fr;
    font-size: 1rem;    
   
    div {
        &:hover span {
            height: 2.5em;
            visibility: visible;
            opacity: 1;
        }

        &>span {
            padding-left: 3em;
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: height 0.8s, opacity 1s;
        }
    }

    // ONLY CHILDREN
    &>span {
        padding-left: 1em;
        height: 2.5em;

        &:hover + div > span {
            height: 2.5em;
            visibility: visible;
            opacity: 1;
            transition: height 0.5s, opacity 1s;
            transition-delay: 0.5s;
        }
    }

    // ALL SPANS INSIDE
    span {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;

        &::before {
            font-family: 'Material Icons';
            content: attr(data-icon);
            font-size: 1.5em;
            margin-right: .5em;
            background-color: transparent;
        }

        &[data-suffix]::after {
            font-family: 'Material Icons';
            content: 'add';
            font-size: 1.5em;
            margin: 0 .5em 0 auto;
            text-align: right;
            transition-delay: 0.5s;
            transition: transform 0.5s;
        }

        &:hover {
            background-color: $item-bg-hover;

            &[data-suffix]::after {
                transform: rotate(90deg);
                transition: transform 0.5s;
                transition-delay: 0.5s;
            }

            &::before {
                color: $item-icon-hightlight;
            }
        }
    }

    .close {
        justify-content: center;
        padding: 1em;
        cursor: pointer;

        &:hover {
            color: $item-icon-hightlight;
        }
    }
}