/*dim the background*/
html {
  font-size: 15px;
  font-family: Roboto;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  grid: min-content/minmax(400px, 1fr);
  background-color: #dddddd;
  margin: 1rem;
  grid-gap: 1rem;
  font-size: 1rem;
}

body > div {
  position: relative;
  background: white;
  color: #4a4a4a;
  padding: 3em 1em;
  text-align: center;
}

body > div::before {
  position: absolute;
  right: 0;
  top: 0;
  content: attr(data-title);
  text-align: left;
  padding: .5em 1em;
  display: block;
  background-color: #4a4a4a;
  color: white;
  font-size: 0.8em;
}

body > div.grid {
  display: -ms-grid;
  display: grid;
  grid: -webkit-min-content / auto;
  grid: min-content / auto;
  place-content: center;
  place-items: center;
}

body > div.grid.multi-list {
  grid: -webkit-min-content / auto auto auto;
  grid: min-content / auto auto auto;
  place-content: top;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-gap: 1em;
}

*:hover.highlight {
  background-color: antiquewhite;
}

label.jr-checkbox {
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label.jr-checkbox.left > span::before {
  margin: 1em 1em 1em 0;
}

label.jr-checkbox.right > span::before {
  margin: 1em 0 1em 1em;
}

label.jr-checkbox.top, label.jr-checkbox.bottom {
  display: inline-block;
}

label.jr-checkbox.top span, label.jr-checkbox.bottom span {
  display: block;
}

label.jr-checkbox.top span::before, label.jr-checkbox.bottom span::before {
  margin: 1em auto;
}

label.jr-checkbox:hover {
  cursor: pointer;
}

label.jr-checkbox:hover span::before {
  background-color: lightgreen;
}

label.jr-checkbox input {
  display: none;
}

label.jr-checkbox input:checked + span::before {
  font-family: 'Material Icons';
  content: 'done';
  background-color: lightgreen;
  color: #4a4a4a;
}

label.jr-checkbox span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label.jr-checkbox span::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.6em;
  height: 1.6em;
  content: '';
  border: solid 0.1125rem;
  font-weight: bold;
  font-size: 1em;
  padding: .1em;
}

label.jr-radio {
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label.jr-radio.left > span {
  margin: 1em 1em 1em 0;
}

label.jr-radio.right > span {
  margin: 1em 0 1em 1em;
}

label.jr-radio.top, label.jr-radio.bottom {
  text-align: center;
  display: block;
}

label.jr-radio.top span, label.jr-radio.bottom span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1em auto;
}

label.jr-radio:hover {
  cursor: pointer;
}

label.jr-radio:hover span {
  background-color: lightgreen;
}

label.jr-radio input {
  display: none;
}

label.jr-radio input:checked + span {
  background-color: lightgreen;
  -webkit-box-shadow: inset 0 0 0 .5em;
          box-shadow: inset 0 0 0 .5em;
}

label.jr-radio span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.6em;
  height: 1.6em;
  border-radius: 1.6em;
  -webkit-box-shadow: inset 0 0 0 .1125em;
          box-shadow: inset 0 0 0 .1125em;
  -webkit-transition: -webkit-box-shadow 0.4s linear;
  transition: -webkit-box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear, -webkit-box-shadow 0.4s linear;
}

label.jr-slider {
  font-size: 1rem;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label.jr-slider.left > span {
  margin: 1em 1em 1em 0;
}

label.jr-slider.right > span {
  margin: 1em 0 1em 1em;
}

label.jr-slider input {
  display: none;
}

label.jr-slider input:checked + span::before {
  -webkit-transform: translateX(1.6em);
          transform: translateX(1.6em);
  background-color: lightgreen;
}

label.jr-slider span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 3.2em;
  height: 1.6em;
  background-color: #444444;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3em;
  padding: .2em;
}

label.jr-slider span::before {
  height: 1.2em;
  width: 1.2em;
  background-color: lightgray;
  border-radius: 3em;
  content: '';
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul.list {
  display: -ms-grid;
  display: grid;
  grid: auto-flow / 1fr;
  grid-gap: 0.3em;
  width: 100%;
  list-style: none;
  margin: 0;
  font-size: 1rem;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 1em;
  -webkit-margin-end: 1em;
  -webkit-padding-start: 1em;
}

ul.list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  min-height: 1.3em;
  text-align: left;
}

ul.list li.done::before {
  content: 'done';
  color: darkcyan;
  background: none;
}

ul.list li.error::before {
  content: 'clear';
  color: red;
  background: none;
}

ul.list li::before {
  text-align: center;
  font-family: 'Material Icons';
  color: transparent;
  content: '.';
  background: url('data:image/svg+xml,                <svg xmlns="http://www.w3.org/2000/svg" height="6" width="6">                    <circle cx="3" cy="3" r="3" fill="#4a4a4a" />                </svg>') no-repeat center;
  min-width: 1em;
  margin-right: 0.5em;
  font-weight: bold;
}

.ripple {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  width: 1em;
  height: 1em;
  background: grey;
}

.ripple::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: rgba(138, 136, 136, 0.379);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}

.ripple:active:hover::before {
  opacity: 0.5;
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-animation: opacity 0.1s;
          animation: opacity 0.1s;
}

.btn {
  padding: 0 .75em;
  font-size: 1rem;
  min-height: 2.5em;
  min-width: 6em;
  font-family: inherit;
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background: grey;
  outline: none;
  color: white;
  cursor: pointer;
}

.btn.primary {
  background: blueviolet;
}

.btn.orange {
  background: #f2784b;
}

.bluebag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  opacity: 0;
  background-color: #444444;
  color: white;
  height: 100px;
  width: 400px;
  -webkit-animation: opacityOff 7s infinite;
          animation: opacityOff 7s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  border-radius: 5px;
  padding: 1em;
}

.bluebag i {
  font-size: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.bluebag .success {
  color: #38d350;
}

.bluebag .error {
  color: #d33838;
}

.bluebag .info {
  color: yellow;
}

.bluebag .header {
  font-weight: bold;
  font-size: 1rem;
}

.bluebag .message {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em;
  text-align: left;
  height: 100%;
  overflow: auto;
}

@-webkit-keyframes opacityOff {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityOff {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */